MYSQL_DATABASE=agent_studio
MYSQL_USER=agent_studio
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-root-password
POSTGRES_DB=agent_studio_vector
POSTGRES_USER=agent_studio
POSTGRES_PASSWORD=change-me

